{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="card-body">
            <div class="alert alert-icon alert-primary" role="alert">
                <i class="fas fa-info-circle mr-2" aria-hidden="true"></i> Vous devez être connecté pour accedez à cette page!
            </div>
        </div>
    </div>

{% endblock %}