@import "~bootstrap/dist/css/bootstrap.css";
@import "~tabler-ui/dist/assets/css/dashboard.css";
@import "~@fortawesome/fontawesome-pro/css/all.css";

pre {
    text-shadow: none;
}

.card-img-snowtricks {
    height: 175px;
}

.testsnowtricks {
    background: #467fcf;
}

.header-brand {
    color: white;
    text-transform: uppercase;
}
.form-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.header-toggler {
    color: #b5b5b5;
}

.header-toggler:hover {
    color: #FFFFFF;
}

.btn-form-edit-add-element {
    margin-bottom: 20px;
}

.img-edit-trick-table {
    height: 100px;
    width: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header-brand:hover {
    color: #e2e2e2;
}

.custom-file-input {
    width: auto;
}

.custom-file-label::after {
    content: "Parcourir";
}

#illustration-edit-user {
    height: 100px;
    display: block;
    margin-bottom: 10px;
}

.carousel-item {
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-item iframe {
    height: 100%;
    width: 100%;
}

.trick-illustration-form-entry {
    height: 100%;
    width: auto;
}

.form-group-trick-illustration {
    display: block;
}

.pagination-buttons-messages {
    margin-top: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}