 <footer class="footer">
     <div class="container">
         Copyright © 2019 <a href="snowtricks.benjaminpelletier.fr">Snowtricks</a>. by <a href="https://benjaminpelletier.fr" target="_blank">Benjamin Pelletier</a>
     </div>
 </footer>