<div class="header py-4 testsnowtricks">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="./index.html">
                <i class="fas fa-snowflakes"></i> Snowtricks
            </a>
        </div>
    </div>
</div>