<div class="header py-4 testsnowtricks">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="{{ path('home') }}">
                <i class="fas fa-snowflakes"></i> Snowtricks
            </a>
        </div>
    </div>
</div>