{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="card-header">
            <h3 class="card-title">Modifier mot de passe</h3>
        </div>
        <div class="card-body">

            {% if errors is not empty %}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}

            {{ form_start(formEditPassword) }}
            {{ form_widget(formEditPassword) }}
            {{ form_end(formEditPassword) }}
        </div>
    </div>

{% endblock %}