{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="card-header">
            <h3 class="card-title">Demande génération token avec envoi mail</h3>
        </div>
        <div class="card-body">
            {{ form_start(formPasswordRecoveryToken) }}
            {{ form_widget(formPasswordRecoveryToken) }}
            {{ form_end(formPasswordRecoveryToken) }}
            <p>Aprés avoir reçu le mail : <a href="{{ path('user_password_recovery') }}">Page réintialisation mot de passe</a></p>
        </div>
    </div>

{% endblock %}