{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="card-header">
            <h3 class="card-title">Changer le mot de passe (user provient lien email)</h3>
        </div>
        <div class="card-body">
            <p>Erreur : {{ message }}</p>

            {{ form_start(formPasswordLost) }}
            {{ form_widget(formPasswordLost) }}
            {{ form_end(formPasswordLost) }}
        </div>
    </div>

{% endblock %}